//! **************************************************************************
// Written by: Map P.20131013 on Wed Jul 02 20:30:34 2014
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "L15" LEVEL 1;
COMP "serial_out" LOCATE = SITE "B16" LEVEL 1;
COMP "reset" LOCATE = SITE "F5" LEVEL 1;
COMP "serial_in" LOCATE = SITE "A16" LEVEL 1;
TIMEGRP clk = BEL "Inst_Tx/curent_state_FSM_FFd1" BEL
        "Inst_Tx/curent_state_FSM_FFd2" BEL "Inst_Tx/outputBit_couter_reg_3"
        BEL "Inst_Tx/outputBit_couter_reg_2" BEL
        "Inst_Tx/outputBit_couter_reg_1" BEL "Inst_Tx/outputBit_couter_reg_0"
        BEL "Inst_Tx/Inst_BaudRateGenerator/s_tick_reg" BEL
        "Inst_Tx/Inst_BaudRateGenerator/counter_reg_0" BEL
        "Inst_Tx/Inst_BaudRateGenerator/counter_reg_1" BEL
        "Inst_Tx/Inst_BaudRateGenerator/counter_reg_2" BEL
        "Inst_Tx/Inst_BaudRateGenerator/counter_reg_3" BEL
        "Inst_Tx/Inst_BaudRateGenerator/counter_reg_4" BEL
        "Inst_Tx/Inst_BaudRateGenerator/counter_reg_5" BEL
        "Inst_Tx/Inst_BaudRateGenerator/counter_reg_6" BEL
        "Inst_Tx/Inst_BaudRateGenerator/counter_reg_7" BEL
        "Inst_Tx/Inst_BaudRateGenerator/counter_reg_8" BEL
        "Inst_Tx/Inst_BaudRateGenerator/counter_reg_9" BEL
        "Inst_Tx/pulse_couter_reg_3" BEL "Inst_Tx/pulse_couter_reg_2" BEL
        "Inst_Tx/pulse_couter_reg_1" BEL "Inst_Tx/pulse_couter_reg_0" BEL
        "Inst_Rx/n_reg_2" BEL "Inst_Rx/n_reg_1" BEL "Inst_Rx/n_reg_0" BEL
        "Inst_Rx/state_reg_FSM_FFd1" BEL "Inst_Rx/state_reg_FSM_FFd2" BEL
        "Inst_Rx/s_reg_3" BEL "Inst_Rx/s_reg_2" BEL "Inst_Rx/s_reg_1" BEL
        "Inst_Rx/s_reg_0" BEL "Inst_Rx/b_reg_7" BEL "Inst_Rx/b_reg_6" BEL
        "Inst_Rx/b_reg_5" BEL "Inst_Rx/b_reg_4" BEL "Inst_Rx/b_reg_3" BEL
        "Inst_Rx/b_reg_2" BEL "Inst_Rx/b_reg_1" BEL "Inst_Rx/b_reg_0" BEL
        "Inst_Tx/data_reg_7" BEL "Inst_Tx/data_reg_6" BEL "Inst_Tx/data_reg_5"
        BEL "Inst_Tx/data_reg_4" BEL "Inst_Tx/data_reg_3" BEL
        "Inst_Tx/data_reg_2" BEL "Inst_Tx/data_reg_1" BEL "Inst_Tx/data_reg_0"
        BEL "clk_BUFGP/BUFG";
TS_clk = PERIOD TIMEGRP "clk" 100 MHz HIGH 50%;
SCHEMATIC END;

