//! **************************************************************************
// Written by: Map P.20131013 on Mon Jun 30 14:37:26 2014
//! **************************************************************************

SCHEMATIC START;
COMP "led" LOCATE = SITE "U18" LEVEL 1;
COMP "sw" LOCATE = SITE "T15" LEVEL 1;
SCHEMATIC END;

