//! **************************************************************************
// Written by: Map P.20131013 on Wed Jul 02 15:40:15 2014
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "L15" LEVEL 1;
COMP "dout<0>" LOCATE = SITE "U18" LEVEL 1;
COMP "dout<1>" LOCATE = SITE "M14" LEVEL 1;
COMP "dout<2>" LOCATE = SITE "N14" LEVEL 1;
COMP "dout<3>" LOCATE = SITE "L14" LEVEL 1;
COMP "dout<4>" LOCATE = SITE "M13" LEVEL 1;
COMP "dout<5>" LOCATE = SITE "D4" LEVEL 1;
COMP "dout<6>" LOCATE = SITE "P16" LEVEL 1;
COMP "dout<7>" LOCATE = SITE "N12" LEVEL 1;
COMP "rx" LOCATE = SITE "A16" LEVEL 1;
COMP "reset" LOCATE = SITE "F5" LEVEL 1;
TIMEGRP clk = BEL "Inst_RxModule/state_reg_FSM_FFd1" BEL
        "Inst_RxModule/state_reg_FSM_FFd2" BEL "Inst_RxModule/n_reg_2" BEL
        "Inst_RxModule/n_reg_1" BEL "Inst_RxModule/n_reg_0" BEL
        "Inst_RxModule/s_reg_3" BEL "Inst_RxModule/s_reg_2" BEL
        "Inst_RxModule/s_reg_1" BEL "Inst_RxModule/s_reg_0" BEL
        "Inst_BaudRateGenerator/counter_reg_9" BEL
        "Inst_BaudRateGenerator/counter_reg_8" BEL
        "Inst_BaudRateGenerator/counter_reg_7" BEL
        "Inst_BaudRateGenerator/counter_reg_6" BEL
        "Inst_BaudRateGenerator/counter_reg_5" BEL
        "Inst_BaudRateGenerator/counter_reg_4" BEL
        "Inst_BaudRateGenerator/counter_reg_3" BEL
        "Inst_BaudRateGenerator/counter_reg_2" BEL
        "Inst_BaudRateGenerator/counter_reg_1" BEL
        "Inst_BaudRateGenerator/counter_reg_0" BEL
        "Inst_BaudRateGenerator/s_tick_reg" BEL "Inst_RxModule/b_reg_7" BEL
        "Inst_RxModule/b_reg_6" BEL "Inst_RxModule/b_reg_5" BEL
        "Inst_RxModule/b_reg_4" BEL "Inst_RxModule/b_reg_3" BEL
        "Inst_RxModule/b_reg_2" BEL "Inst_RxModule/b_reg_1" BEL
        "Inst_RxModule/b_reg_0" BEL "clk_BUFGP/BUFG";
TS_clk = PERIOD TIMEGRP "clk" 100 MHz HIGH 50%;
SCHEMATIC END;

